<!-- navbar -->
<div class="row" ng-controller="navCtrl" style="background-image: url({{banAddress}}); background-size: 100%; margin: 0px 0px 0px 0px">
    <div class="col-md-12">
      <div>
        <img ng-src="{{imageAddress}}" ng-style="{'width': '400px','margin': '20px 10px 5px 650px'}" alt="logo"/> <br />
        <input type="text" ng-model="searchUser" placeholder="Search for friends" style="margin: 0px 0px 0px 10px"/>
        <button type="button" ng-click="$ctrl.search(searchUser)" style="background-color: whitesmoke; color: black; margin: 2px 5px 5px 10px; max-width: 300px" class="btn">
          Search
        </button>
        <button type="button" ng-click="logout()" style="background-color: whitesmoke; color: black; margin: 10px 0px 0px 1500px" class="btn">
          Logout
        </button>
        <button type="button" ng-click="account()" style="background-color: whitesmoke; color: black; margin: -55px 0px 0px 1607px; max-width: 300px" class="btn">
          Account Settings
        </button>
        <button type="button" ng-click="forum()" style="background-color: whitesmoke; color: black; margin: -95px 0px 0px 1483px; max-width: 300px" class="btn">
          General Chat
        </button>
      </div> 
    </div>
  </div>