<!-- navbar -->
<div class="row" ng-controller="navCtrl">
    <div class="col-md-12">
      <div class="page-header">
        <img ng-src="{{imageAddress}}" ng-style="{'width': '400px','margin': '-50px 10px 5px 650px'}" alt="logo"/> <br />

        <div ng-show="myValue" style="color: red"><h4>User not found</h4></div>
        <div ng-show="myValue" class="ng-hide"></div>

        <h4 style="color: whitesmoke">
          Search for friend's stats
        </h4>
        <input type="text" ng-model="searchUser" />
        <button type="button" ng-click="$ctrl.search(searchUser)" style="background-color: whitesmoke; color: black; margin: 2px 5px 5px 10px" class="btn btn-outline-warning">
          Search
        </button>
        <button type="button" ng-click="logout()" style="background-color: whitesmoke; color: black; margin: 2px 5px 5px 1500px" class="btn btn-outline-warning">
          Logout
        </button>
        <button type="button" ng-click="account()" style="background-color: whitesmoke; color: black; margin: -55px 5px 10px 1602px" class="btn btn-outline-warning">
          Account Settings
        </button>
        <button type="button" ng-click="cod()" style="background-color: whitesmoke; color: black; margin: -95px 5px 10px 1490px" class="btn btn-outline-warning">
          COD Forum
        </button>
      </div> 
    </div>
  </div>