
    <div class="container-fluid" ng-controller="signUpCtrl">
        <div class="row">
          <div class="col-md-12">
            <form role="form">
              <div class="form-group">
                <label for="loginName"> 
                  Create Login Name
                </label>
                <input type="text" ng-model="loginName" class="form-control" id="signUpName" />
              </div>

              <div class="form-group">
                <label for="signUpPassword">
                  Create Login Password
                </label>
                <input type="password" ng-model="loginPass" class="form-control" id="signUpPassword" />
              </div>

              <div class="form-group">
                  <label for="battleUser">
                    Enter Battlefield Username
                  </label>
                  <input type="text" class="form-control" ng-model="battleUser" id="battleUser" />
                  Type Platform(psn, xbox, pc): <br>
                  <input type="text" ng-model="battlePlat" />
              </div>

              <div class="form-group">
                  <label for="codUser">
                    Enter COD Username
                  </label>
                  <input type="text" class="form-control" ng-model="codUser" id="codUser" />
                  Type Platform(psn, xbox, pc): <br>
                  <input type="text" ng-model="codPlat" />
              </div>

              <div class="form-group">
                  <label for="fortUser">
                    Enter Fortnite(Epic) Username
                  </label>
                  <input type="text" class="form-control" ng-model="fortUser" id="fortUser" />
                  Type Platform(psn, xbox, pc): <br>
                  <input type="text" ng-model="fortPlat" />
              </div>

              <div class="form-group">
                  <label for="overUser">
                    Enter Overwatch(Blizzard) Username
                  </label>
                  <input type="text" class="form-control" ng-model="overUser" id="overUser" />
                  Type Platform(psn, xbox, pc): <br>
                  <input type="text" ng-model="overPlat" />
              </div>

              <button type="submit" ng-click="submit()" class="btn btn-primary">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
