<div ng-controller="splashCtrl" >
  <img ng-src="{{imageAddress}}" ng-style="{'width': '400px','margin': '-10px -10px 10px 650px'}" alt="logo"/> <br />
  <div>
    <button type="submit" ng-click="logsubmit()" style="background-color: whitesmoke; color: black; margin: -50px 5px 5px 800px" class="btn btn-primary center-block">
      Login
    </button>

    <button type="submit" ng-click="signsubmit()" style="background-color: whitesmoke; color: black; margin: 2px 5px 5px 800px" class="btn btn-primary center-block">
      Sign Up
    </button>
  </div>
</div>