<!-- stats -->
<div class="col-md-8">
    <h3>
      Game Stats
    </h3>
    <div id="card-58954">
      <div class="card">
        <div class="card-header">
           <a class="card-link" data-toggle="collapse" data-parent="#card-58954" href="#card-element-941679">Name of Game 1</a>
        </div>
        <div id="card-element-941679" class="collapse show">
          <div class="card-body">
            stats for game 1
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
           <a class="card-link" data-toggle="collapse" data-parent="#card-58954" href="#card-element-347630">Name of Game 2</a>
        </div>
        <div id="card-element-347630" class="collapse show">
          <div class="card-body">
            stats for game 2
          </div>
        </div>
      </div>
    </div>
  </div>