<div class="jumbotron" ng-controller="suggestedCtrl">
  <h2>
    Suggested Games
  </h2>
  <p>
    <img ng-src="{{trivioke}}" /> <br />
    Name: Trivioke <br />
    Twitch Viewers: 1,000,000,000 <br />
    <br />

    <img ng-src="{{$ctrl.data.top[6].game.box.small}}" /> <br />
    Name: {{$ctrl.data.top[6].game.name}} <br />
    Twitch Viewers: {{$ctrl.data.top[6].viewers}} <br />
    <br />

    <img ng-src="{{$ctrl.data.top[8].game.box.small}}" /> <br />
    Name: {{$ctrl.data.top[8].game.name}} <br />
    Twitch Viewers: {{$ctrl.data.top[8].viewers}} <br />
    <br />
  </p>

</div>
