<div class="jumbotron">
    <h2>
      COD
    </h2>
    <p>
      {{$ctrl.data[0].metadata.name}} : {{$ctrl.data[0].displayValue}} <br />
      {{$ctrl.data[1].metadata.name}} : {{$ctrl.data[1].displayValue}} <br />
      {{$ctrl.data[2].metadata.name}} : {{$ctrl.data[2].displayValue}} <br />
      {{$ctrl.data[3].metadata.name}} : {{$ctrl.data[3].displayValue}} <br />
      {{$ctrl.data[15].metadata.name}} : {{$ctrl.data[15].displayValue}} <br />
      {{$ctrl.data[16].metadata.name}} : {{$ctrl.data[16].displayValue}} <br />
    </p>
  </div>