<div class="jumbotron">
  <h2>
    BLOPS 4
  </h2>
  <p>
  Prestige : {{$ctrl.data[0].displayValue || N/A}} <br />
  KD Ratio : {{$ctrl.data[1].displayValue || N/A}} <br />
  Kills : {{$ctrl.data[2].displayValue || N/A}} <br />
  Deaths : {{$ctrl.data[3].displayValue || N/A}} <br />
  Wins : {{$ctrl.data[15].displayValue || N/A}} <br />
  Losses : {{$ctrl.data[16].displayValue || N/A}} <br />
  </p>
  <img ng-src="{{imgAddress}}" ng-style="{'width':'200px', 'margin':'-450px 0px -200px 800px'}" alt="cod logo"/>    <p>
  </div>